<%= render partial: "navbar"%>
<div class='text-center p-4'>
<a href="#" class='text-blue-600'>All</a> | <a href="/categories">Categories</a>
</div>
<div class='p-10'>
<%= render partial: "item", collection:@items%>
</div>