<%= render partial: "navbar"%>
<div class='text-center p-4'>
<a href="#">All</a> | <a href="/categories" class='text-blue-600'>Categories</a>
</div>
<div class='p-10'>
<%= render partial: "item", collection:@items%>
</div>