<%= render partial: "navbar",locals:{current: "home"}%>
<div class='text-center p-4'>
<a href="/"  class="text-blue-600">All</a> | <a href="/categories">Categories</a>
</div>
<div class='p-10 flex flex-wrap'>
<%= render partial: "category", collection:@categories%>
</div>