<div class="bg-slate-500 bg-gray-500 bg-orange-500 bg-red-500 bg-zinc-500 bg-amber-500 bg-yellow-500 bg-lime-500 bg-green-500 bg-emrald-500 bg-teal-500 bg-cyan-500 bg-sky-500 bg-blue-500 bg-indigo-500 bg-violet-500 bg-purple-500 bg-fuchsia-500 bg-pink-500 bg-rose-500"></div>
    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-<%=@colors.sample%>-500 rounded-lg max-w-xs shadow-lg">
      <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
        <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
        <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
      </svg>
      <div class="relative pt-10 px-10 flex items-center justify-center">
        <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
        <img class="relative w-40" src="<%=url_for(@category.image)%>" alt="">
      </div>
      <div class="relative text-white px-6 pb-6 mt-6">
          <span class="block font-semibold text-xl"><%=@category.name%></span>
          
      </div>
    </div>